In [1]:
from pandas.io.json import json_normalize
from pymongo import MongoClient
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
import pprint

In [2]:
course_cluster_uri = "mongodb://agg-student:agg-password@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"
course_client = MongoClient(course_cluster_uri)

In [3]:
titanic = course_client['coursera-agg']['titanic']

In [9]:
# Replace {} with a stage to determine the possible values for gender.
unique_gender_stage = {
    "$group" : {
        "_id" : "null",
        "gender_set" : {"$addToSet" : "$gender"}
    }   
}

In [10]:
possible_gender_values = titanic.aggregate([
    {
        "$match": {
            "age": {"$type": "number"},
            "point_of_embarkation": {"$ne": ""}
        }
    },
    unique_gender_stage
])

In [11]:
# Print the distinct list of values for the gender field
pprint.pprint(list(possible_gender_values))

[{'_id': 'null', 'gender_set': ['female', 'male']}]

In [12]:
# Replace {} with a stage to determine the possible values for point_of_embarkation
unique_point_of_embarkation_stage = {
    "$group" : {
        "_id" : "null",
        "point_of_embarkation_set" : {"$addToSet" : "$point_of_embarkation"}
    }
}

In [13]:
possible_point_of_embarkation_values = titanic.aggregate([
    {
        "$match": {
            "age": {"$type": "number"},
            "point_of_embarkation": {"$ne": ""}
        }
    },
    unique_point_of_embarkation_stage
])

In [14]:
# Print the distinct list of values for the point_of_embarkation field
pprint.pprint(list(possible_point_of_embarkation_values))

[{'_id': 'null', 'point_of_embarkation_set': ['Q', 'C', 'S']}]

In [41]:
# Given the possible values for point_of_embarkation and gender replace {} with a stage that
# will convert those field values to an integer.
# e.g., For the gender field convert 'female' to 0 and 'male' to 1
gender_and_point_of_embarkation_conversion_stage = {
    "$addFields" : {
        
        "gender" : {
            "$switch" : {
                "branches" : [
                    {
                        "case" : {"$eq" : ["$gender", "female"]},
                        "then" : 0
                    },
                    {
                        "case" : {"$eq" : ["$gender", "male"]},
                        "then" : 1
                    },
                ]
            }
        },
        
        "point_of_embarkation" : {
            "$switch" : {
                "branches" : [
                    {
                        "case" : {"$eq" : ["$point_of_embarkation", "Q"]},
                        "then" : 0
                    },
                    {
                        "case" : {"$eq" : ["$point_of_embarkation", "C"]},
                        "then" : 1
                    },
                    {
                        "case" : {"$eq" : ["$point_of_embarkation", "S"]},
                        "then" : 2
                    }
                ]
            }
        }

    }
}

In [52]:
cursor = titanic.aggregate([
    {
        "$match": {
            "age": {"$type": "number"},
            "point_of_embarkation": {"$ne": ""}
        }
    },
    gender_and_point_of_embarkation_conversion_stage,
    {
        "$project": {
            "_id": 0,
            "ticket_number": 0,
            "name": 0,
            "passenger_id": 0,
            "cabin": 0
        }
    }
])

titanic_data = list(cursor)
print(titanic_data)

[{'survived': 0, 'class': 1, 'gender': 1, 'age': 54, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 51.8625, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 21, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 73.5, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 17, 'siblings_spouse': 4, 'parents_children': 2, 'fare_paid': 7.925, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 45, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 83.475, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 17, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 10.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 59, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.25, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 21, 'siblings_spouse': 0, 'parents_children': 1, 'fare_paid': 77.2875, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 54, 'siblings_spouse': 0, 'parents_children': 1, 'fare_paid': 77.2875, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 33, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.8958, 'point_of_embarkation': 1}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 28, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 56.4958, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 30, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 13, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 22, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.25, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 29, 'siblings_spouse': 1, 'parents_children': 1, 'fare_paid': 10.4625, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 62, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 26.55, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 27, 'siblings_spouse': 0, 'parents_children': 2, 'fare_paid': 11.1333, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 35, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 26, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 1, 'age': 32, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 56.4958, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 30, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 12.475, 'point_of_embarkation': 2}, {'survived': 1, 'class': 1, 'gender': 1, 'age': 23, 'siblings_spouse': 0, 'parents_children': 1, 'fare_paid': 63.3583, 'point_of_embarkation': 1}, {'survived': 1, 'class': 1, 'gender': 0, 'age': 19, 'siblings_spouse': 0, 'parents_children': 2, 'fare_paid': 26.2833, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 36.5, 'siblings_spouse': 0, 'parents_children': 2, 'fare_paid': 26, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 45, 'siblings_spouse': 1, 'parents_children': 4, 'fare_paid': 27.9, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 16, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.75, 'point_of_embarkation': 0}, {'survived': 1, 'class': 1, 'gender': 0, 'age': 35, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 83.475, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 25, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.775, 'point_of_embarkation': 2}, {'survived': 1, 'class': 1, 'gender': 0, 'age': 35, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 53.1, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 14, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.8542, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 40, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 27.7208, 'point_of_embarkation': 1}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 29, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 26, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 16, 'siblings_spouse': 5, 'parents_children': 2, 'fare_paid': 46.9, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 26, 'siblings_spouse': 1, 'parents_children': 2, 'fare_paid': 20.575, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 28, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.8958, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 1, 'age': 12, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 11.2417, 'point_of_embarkation': 1}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 16, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.7333, 'point_of_embarkation': 0}, {'survived': 1, 'class': 3, 'gender': 1, 'age': 9, 'siblings_spouse': 0, 'parents_children': 2, 'fare_paid': 20.525, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 36, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 0, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 42, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 27, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 27, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 13, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 27, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.925, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 59, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 13.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 22, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.125, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 30, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.225, 'point_of_embarkation': 1}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 4, 'siblings_spouse': 1, 'parents_children': 1, 'fare_paid': 16.7, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 20, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 8.05, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 26, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.925, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 1, 'age': 0.83, 'siblings_spouse': 0, 'parents_children': 2, 'fare_paid': 29, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 29, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 10.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 20, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 9.825, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 55.5, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 8.05, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 61, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 33.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 28, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 9.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 0, 'age': 24, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 13, 'point_of_embarkation': 2}, {'survived': 1, 'class': 1, 'gender': 0, 'age': 31, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 113.275, 'point_of_embarkation': 1}, {'survived': 1, 'class': 2, 'gender': 1, 'age': 19, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 10.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 29, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.775, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 54, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 26, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 30, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 16.1, 'point_of_embarkation': 2}, {'survived': 1, 'class': 1, 'gender': 1, 'age': 28, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 35.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 19, 'siblings_spouse': 3, 'parents_children': 2, 'fare_paid': 263, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 14, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 30.0708, 'point_of_embarkation': 1}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 47, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 52, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 47, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 14.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 40.5, 'siblings_spouse': 0, 'parents_children': 2, 'fare_paid': 14.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 1, 'siblings_spouse': 4, 'parents_children': 1, 'fare_paid': 39.6875, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 9, 'siblings_spouse': 4, 'parents_children': 2, 'fare_paid': 31.3875, 'point_of_embarkation': 2}, {'survived': 1, 'class': 1, 'gender': 1, 'age': 45, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 26.55, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 19, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 7.8542, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 35, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 21, 'point_of_embarkation': 2}, {'survived': 1, 'class': 1, 'gender': 1, 'age': 38, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 90, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 44, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 26, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 8, 'siblings_spouse': 0, 'parents_children': 2, 'fare_paid': 26.25, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 39, 'siblings_spouse': 1, 'parents_children': 5, 'fare_paid': 31.275, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 18, 'siblings_spouse': 2, 'parents_children': 0, 'fare_paid': 18, 'point_of_embarkation': 2}, {'survived': 1, 'class': 1, 'gender': 0, 'age': 49, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 76.7292, 'point_of_embarkation': 1}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 26, 'siblings_spouse': 2, 'parents_children': 0, 'fare_paid': 8.6625, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 11, 'siblings_spouse': 5, 'parents_children': 2, 'fare_paid': 46.9, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 19, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 6.75, 'point_of_embarkation': 0}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 26, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.775, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 29, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 10.5, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 15, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 8.0292, 'point_of_embarkation': 0}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 65, 'siblings_spouse': 0, 'parents_children': 1, 'fare_paid': 61.9792, 'point_of_embarkation': 1}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 34, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 26, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 17, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 14.4583, 'point_of_embarkation': 1}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 32.5, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 30.0708, 'point_of_embarkation': 1}, {'survived': 1, 'class': 3, 'gender': 1, 'age': 27, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.7958, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 42, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 13, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 4, 'siblings_spouse': 0, 'parents_children': 2, 'fare_paid': 22.025, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 1, 'age': 3, 'siblings_spouse': 1, 'parents_children': 1, 'fare_paid': 26, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 32, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 15.85, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 1, 'age': 18, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 8.05, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 24, 'siblings_spouse': 0, 'parents_children': 2, 'fare_paid': 14.5, 'point_of_embarkation': 2}, {'survived': 1, 'class': 1, 'gender': 0, 'age': 58, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 26.55, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 0, 'age': 27, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 21, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 4, 'siblings_spouse': 3, 'parents_children': 2, 'fare_paid': 27.9, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 71, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 34.6542, 'point_of_embarkation': 1}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 34, 'siblings_spouse': 0, 'parents_children': 1, 'fare_paid': 23, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 37, 'siblings_spouse': 2, 'parents_children': 0, 'fare_paid': 7.925, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 38, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.8958, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 24, 'siblings_spouse': 0, 'parents_children': 1, 'fare_paid': 247.5208, 'point_of_embarkation': 1}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 2, 'siblings_spouse': 4, 'parents_children': 2, 'fare_paid': 31.275, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 24, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 79.2, 'point_of_embarkation': 1}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 18, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 11.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 4, 'siblings_spouse': 4, 'parents_children': 1, 'fare_paid': 29.125, 'point_of_embarkation': 0}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 36, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.8958, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 19, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 13, 'point_of_embarkation': 2}, {'survived': 1, 'class': 1, 'gender': 0, 'age': 58, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 146.5208, 'point_of_embarkation': 1}, {'survived': 1, 'class': 1, 'gender': 1, 'age': 40, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 31, 'point_of_embarkation': 1}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 44, 'siblings_spouse': 2, 'parents_children': 0, 'fare_paid': 90, 'point_of_embarkation': 0}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 55, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 16, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 1, 'age': 34, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 13, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 18, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 17.8, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 21, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.8, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 26, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 14.4542, 'point_of_embarkation': 1}, {'survived': 1, 'class': 1, 'gender': 0, 'age': 23, 'siblings_spouse': 3, 'parents_children': 2, 'fare_paid': 263, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 20, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.8542, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 28, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.8958, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 21, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.65, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 44, 'siblings_spouse': 0, 'parents_children': 1, 'fare_paid': 16.1, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 1, 'siblings_spouse': 1, 'parents_children': 1, 'fare_paid': 11.1333, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 18, 'siblings_spouse': 1, 'parents_children': 1, 'fare_paid': 7.8542, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 21, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.925, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 45.5, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.225, 'point_of_embarkation': 1}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 22, 'siblings_spouse': 1, 'parents_children': 0, 'fare_paid': 7.25, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 35, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 8.05, 'point_of_embarkation': 2}, {'survived': 1, 'class': 3, 'gender': 0, 'age': 19, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.8792, 'point_of_embarkation': 0}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 32, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 10.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 28.5, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 7.2292, 'point_of_embarkation': 1}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 19, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 8.1583, 'point_of_embarkation': 2}, {'survived': 0, 'class': 1, 'gender': 1, 'age': 28, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 47.1, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 0, 'age': 9, 'siblings_spouse': 2, 'parents_children': 2, 'fare_paid': 34.375, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 51, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 12.525, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 30, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 8.05, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 17, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 8.6625, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 32, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 13, 'point_of_embarkation': 2}, {'survived': 0, 'class': 2, 'gender': 1, 'age': 19, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 10.5, 'point_of_embarkation': 2}, {'survived': 1, 'class': 1, 'gender': 0, 'age': 30, 'siblings_spouse': 0, 'parents_children': 0, 'fare_paid': 86.5, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gender': 1, 'age': 7, 'siblings_spouse': 4, 'parents_children': 1, 'fare_paid': 39.6875, 'point_of_embarkation': 2}, {'survived': 1, 'class': 2, 'gender': 0, 'age': 5, 'siblings_spouse': 1, 'parents_children': 2, 'fare_paid': 27.75, 'point_of_embarkation': 2}, {'survived': 0, 'class': 3, 'gend

In [53]:
# Load our dataset into a DataFrame
df = json_normalize(titanic_data)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>class</th>
      <th>fare_paid</th>
      <th>gender</th>
      <th>parents_children</th>
      <th>point_of_embarkation</th>
      <th>siblings_spouse</th>
      <th>survived</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>54.0</td>
      <td>1</td>
      <td>51.8625</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>21.0</td>
      <td>2</td>
      <td>73.5000</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17.0</td>
      <td>3</td>
      <td>7.9250</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>45.0</td>
      <td>1</td>
      <td>83.4750</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17.0</td>
      <td>2</td>
      <td>10.5000</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>59.0</td>
      <td>3</td>
      <td>7.2500</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>21.0</td>
      <td>1</td>
      <td>77.2875</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>54.0</td>
      <td>1</td>
      <td>77.2875</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>33.0</td>
      <td>3</td>
      <td>7.8958</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>28.0</td>
      <td>3</td>
      <td>56.4958</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30.0</td>
      <td>2</td>
      <td>13.0000</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>22.0</td>
      <td>3</td>
      <td>7.2500</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>29.0</td>
      <td>3</td>
      <td>10.4625</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>62.0</td>
      <td>1</td>
      <td>26.5500</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>27.0</td>
      <td>3</td>
      <td>11.1333</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>35.0</td>
      <td>2</td>
      <td>26.0000</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>32.0</td>
      <td>3</td>
      <td>56.4958</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>30.0</td>
      <td>3</td>
      <td>12.4750</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>23.0</td>
      <td>1</td>
      <td>63.3583</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19.0</td>
      <td>1</td>
      <td>26.2833</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>36.5</td>
      <td>2</td>
      <td>26.0000</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>45.0</td>
      <td>3</td>
      <td>27.9000</td>
      <td>0</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>16.0</td>
      <td>3</td>
      <td>7.7500</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>35.0</td>
      <td>1</td>
      <td>83.4750</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25.0</td>
      <td>3</td>
      <td>7.7750</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>35.0</td>
      <td>1</td>
      <td>53.1000</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>14.0</td>
      <td>3</td>
      <td>7.8542</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>40.0</td>
      <td>1</td>
      <td>27.7208</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29.0</td>
      <td>2</td>
      <td>26.0000</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29</th>
      <td>16.0</td>
      <td>3</td>
      <td>46.9000</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>682</th>
      <td>19.0</td>
      <td>3</td>
      <td>10.1708</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>683</th>
      <td>60.0</td>
      <td>1</td>
      <td>26.5500</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>684</th>
      <td>20.0</td>
      <td>3</td>
      <td>8.6625</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>685</th>
      <td>48.0</td>
      <td>2</td>
      <td>65.0000</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>686</th>
      <td>29.0</td>
      <td>1</td>
      <td>30.0000</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>687</th>
      <td>16.0</td>
      <td>2</td>
      <td>10.5000</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>688</th>
      <td>42.0</td>
      <td>3</td>
      <td>7.5500</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>689</th>
      <td>35.0</td>
      <td>3</td>
      <td>7.8958</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>690</th>
      <td>28.0</td>
      <td>2</td>
      <td>33.0000</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>691</th>
      <td>26.0</td>
      <td>3</td>
      <td>7.8958</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>692</th>
      <td>26.0</td>
      <td>1</td>
      <td>30.0000</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>693</th>
      <td>48.0</td>
      <td>2</td>
      <td>13.0000</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>694</th>
      <td>23.0</td>
      <td>2</td>
      <td>13.7917</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>695</th>
      <td>9.0</td>
      <td>3</td>
      <td>46.9000</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>696</th>
      <td>28.0</td>
      <td>3</td>
      <td>22.5250</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>697</th>
      <td>32.0</td>
      <td>3</td>
      <td>7.8958</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>698</th>
      <td>60.0</td>
      <td>1</td>
      <td>79.2000</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>699</th>
      <td>26.0</td>
      <td>2</td>
      <td>10.5000</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>700</th>
      <td>50.0</td>
      <td>1</td>
      <td>133.6500</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>701</th>
      <td>4.0</td>
      <td>3</td>
      <td>13.4167</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>702</th>
      <td>19.0</td>
      <td>3</td>
      <td>7.6500</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>703</th>
      <td>50.0</td>
      <td>2</td>
      <td>13.0000</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>704</th>
      <td>23.0</td>
      <td>2</td>
      <td>13.0000</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>705</th>
      <td>5.0</td>
      <td>3</td>
      <td>12.4750</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>706</th>
      <td>18.0</td>
      <td>3</td>
      <td>7.7750</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>707</th>
      <td>39.0</td>
      <td>1</td>
      <td>83.1583</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>708</th>
      <td>30.0</td>
      <td>1</td>
      <td>31.0000</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>709</th>
      <td>51.0</td>
      <td>1</td>
      <td>26.5500</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>710</th>
      <td>21.0</td>
      <td>2</td>
      <td>11.5000</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>711</th>
      <td>27.0</td>
      <td>2</td>
      <td>13.8583</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>712 rows × 8 columns</p>
</div>

In [54]:
# Pull out the survived column (only the data we want to correlate against)
df_x = df.drop(['survived'], axis=1)

In [55]:
# Only the survived column (the value we want to predict)
df_y = df['survived']

In [56]:
# Create a Least Squares Linear Regression object
reg = linear_model.LinearRegression()

In [57]:
# Split our dataset into a training set (80%) and a test set (20%)
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=0)

In [58]:
# Fit a linear model to our training data
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [59]:
# Check our test set against our trained linear model
reg.predict(x_test)

array([ 1.06247628e+00,  3.33124090e-01,  6.93232994e-01,  1.88516887e-01,
        3.20674206e-01,  1.56827115e-01,  3.82530094e-01,  1.49024954e-01,
        9.75167420e-01,  2.11590590e-01,  7.62641811e-01,  1.00767150e+00,
       -1.39140455e-03,  7.07130669e-02,  5.14800109e-01,  5.46779719e-01,
        4.15760213e-01,  1.33079458e-01,  3.50584833e-01,  5.64805125e-02,
        4.92659787e-02,  1.07139680e-01,  1.05268650e-01,  1.14148966e+00,
        6.36295419e-02,  2.26424380e-01,  1.20756273e-01,  7.96640850e-02,
        4.70328858e-01,  1.06458214e-01,  4.78687264e-01,  3.89728389e-01,
        8.14222798e-02,  3.46360146e-01,  4.23411195e-01,  5.06020106e-01,
        3.87420676e-01,  1.49193090e-01,  2.06698611e-02, -3.65400458e-02,
        8.66023489e-01,  7.78872666e-01,  1.03557637e-02,  7.35907777e-01,
        3.41906399e-01,  6.09400810e-01,  3.56055898e-01,  8.86511448e-02,
        2.62884875e-01,  7.13945329e-02,  1.33864768e-01,  3.47422148e-01,
        9.77549601e-01,  3.71763091e-01,  1.92195251e-01,  1.28060497e-01,
        4.87250507e-01,  8.04520507e-02,  8.37434586e-01,  4.69748162e-01,
        4.37714810e-01,  7.78745005e-02,  3.24012274e-01,  1.25693220e-01,
        8.85411915e-01,  9.21601552e-02,  5.48113733e-01,  4.38924588e-01,
        7.79021347e-01, -4.92892551e-02,  3.16673145e-01,  4.63078139e-01,
       -5.80313983e-02,  4.20285652e-01,  3.83167295e-01,  1.64233859e-01,
        1.02503411e+00,  1.07139680e-01, -1.86641319e-02,  5.88460318e-01,
        6.92894996e-01,  7.64506551e-01,  2.87017047e-01,  1.78120213e-01,
        2.97378943e-01,  4.24286346e-01,  7.64723288e-01,  7.40175485e-01,
        1.13216086e-01,  5.28121005e-01,  9.74174870e-02, -7.11722737e-04,
        1.50199609e-01,  4.85132273e-01,  5.52690002e-01,  6.05207994e-01,
        6.44272044e-01,  4.60311114e-01,  6.75479990e-02,  7.61934194e-02,
        9.33488432e-01,  1.49352390e-01,  2.68782825e-01,  1.06913987e+00,
        8.28484369e-01,  2.87517972e-01,  1.26227038e-01,  6.22490610e-03,
        3.87633384e-01,  6.20680697e-01,  3.18826031e-01,  8.83125621e-01,
       -9.00745903e-02,  1.04330896e+00,  6.85745967e-01,  5.20483574e-01,
        5.88646931e-01,  5.70922688e-01,  2.39423908e-01,  1.00796429e-02,
        1.85423232e-01,  1.05518423e+00,  9.86116727e-01,  5.27603061e-01,
        7.29407672e-01,  8.68789182e-02,  5.88082946e-01,  1.05970943e+00,
        9.27022435e-01,  1.49935800e-01,  5.70591548e-01,  3.41861991e-01,
        6.79971703e-01,  1.27546005e-01,  2.78312947e-02,  7.07531053e-01,
        6.29693160e-02,  1.10374943e+00,  5.60875714e-02,  2.67174104e-01,
        3.49679199e-02,  4.33847872e-01,  6.13139997e-01])

In [60]:
# Calculate mean squared error (should be ~0.13-0.15%)
mean_squared_error(y_test, reg.predict(x_test))

0.14757152781338265

In [63]:
# age: 25,
# class: 1,
# fare_paid: 45,
# gender: Y, (replace Y with the integer you assigned for 'male')
# parents_children: 0,
# point_of_embarkation: Z, (replace Z with the integer you assigned for 'C')
# siblings_spouse: 1

fake_passenger = [[25, 1, 45, 1, 0, 1, 1]]
reg.predict(fake_passenger)

array([0.53266326])

In [62]:
# Use this output to verify your completion of this exercise
# reg.predict(fake_passenger)